body {

    font-family: monospace;

}

ul {

    font-family: helvética;

}

li {

    list-style: circle;

}

.list {

    list-style: square;

}

#msg {

    font-family: monospace;

}

.light-theme {
    color: #ffffff;
    background: #000000;
}